


html {
    height: 100%;
}

body {
    min-height:100%;
}

* {
    margin: 0;
    box-sizing: border-box;
}

.header__left img {
    height: 40px;
}

.user__avatar {
    border-radius: 50%;
    width: 45px;
}

.header {
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    position: sticky;
    background-color: white;
    z-index: 100;
    top: 0;
    box-shadow: 0 5px 8px -9px rgba(0, 0, 0, 0.75);
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__input {
    display: flex;
    align-items: center;
    background-color: #eff2f5;
    padding: 10px;
    margin-left: 10px;
    border-radius: 999px;
}

    .header__input input {
        border: none;
        background-color: transparent;
        outline-width: 0;
    }

.header__middle {
    display: flex;
    flex: 1;
    justify-content: center;
}

.header__option .material-icons {
    font-size: xx-large;
    color: gray;
}

.header__option:hover .material-icons {
    color: #2e81f4;
}

.header__option {
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
}

    .header__option.active .material-icons {
        color: #2e81f4;
    }

    .header__option.active {
        border-bottom: 4px solid #2e81f4;
    }

    .header__option:hover {
        background-color: #eff2f5;
        border-radius: 10px;
        align-items: center;
        padding: 0 30px;
        border-bottom: none;
    }

.header__info {
    display: flex;
    align-items: center;
}

    .header__info h4 {
        margin-left: 10px;
    }

.header__right {
    display: flex;
    align-items: center;
}

    .header__right .material-icons {
        color: gray;
        margin: 0 10px;
    }

        .header__right .material-icons:hover {
            cursor: pointer;
        }

/* sidebar  */

.sidebarRow {
    margin:0 auto;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    width:100%;
    
   
}


.sidebarRoww {
    display: block;
    
    padding: 10px;
   
    cursor: pointer;
    width: 100%;
}


.topelement {
 margin:auto;
 width:100%;
}

    .sidebarRow:hover {
        background-color: lightgray;
        border-radius: 10px;

    }

    .sidebarRow h4 {
        margin-left: 20px;
        font-weight: 600;
    }

    .sidebarRow .material-icons {
        font-size: xx-large;
        color: #2e81f4;
    }

/* story */
.story {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 120px;
    height: 200px;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    margin-right: 10px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

    .story:hover {
        transform: scale(1.07);
    }

.story__avatar {
    margin: 10px;
    color: blue;
}

.story h4 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
}

.storyReel {
    padding: 10px 0;
    display: flex;
}

.main__body {
    display: flex;
}

body {
    background-color: #f1f2f5;
}

.feed {
    flex: 0.6;
    padding: 30px 100px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:red;
}
.postsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.sidebar {
    padding: 15px 10px;
    flex: 0.20;
    border: 2px dotted black;
    height:100%;
}

/* message sender */

.messageSender {
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.messageSender__top {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eff2f5;
    padding: 15px;
}

    .messageSender__top form {
        flex: 1;
        display: flex;
    }

        .messageSender__top form input {
            flex: 1;
            outline-width: 0;
            border: none;
            padding: 15px 20px;
            margin: 0 10px;
            border-radius: 999px;
            background-color: #eff2f5;
        }

.messageSender__bottom {
    display: flex;
    justify-content: space-evenly;

}

.messageSender__option {
    padding: 5px;
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
    width:100%;
    margin:0 auto;

}

    .messageSender__option h3 {
        font-size: medium;
        margin-left: 10px;
        margin:0 auto;
    }

    .messageSender__option:hover {
        cursor: pointer;
        background-color: #eff2f5;
        border-radius: 20px;
    }

/* post */

.post {
    width: 70%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
    text-align:center;
}

.post__image img {
    width:60%;
    height:auto;
    border-style:outset;
}

.post__top {
    display: flex;
    position: relative;
    align-items: center;
    padding: 7px;
}
.title{
    margin:0 auto;
    border:1px solid red;
} 

.post__avatar {
    margin-right: 10px;
}

.post__topInfo h3 {
    font-size: medium;
}

.post__topInfo p {
    font-size: small;
    color: gray;
}

.post__bottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

.post__options {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.post__option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

    .post__option p {
        margin-left: 10px;
        margin:0 auto;
    
    }

    .post__option:hover {
        background-color: #eff2f5;
        border-radius: 10px;
    }

@media (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .header__input input {
        display: none;
    }

    .header__middle {
        display: none;
    }

    .header__info {
        display: none;
    }

    .widgets {
        display: none;
    }

    .feed {
        margin-top: 20px;
        width: 100%;
        padding: 0;
    }

    .story h4 {
        font-size: 10px;
    }

    .story img {
        width: 40px;
    }
}

@media (min-width: 320px) {
    .storyReel {
        width: 100%;
        overflow-x: scroll;
    }

}

@media (min-width: 769px) and (max-width: 1440px) {
    /* CSS To Target 767 px width of screen */

    .messageSender__bottom {
        padding: 5px;
        display: block;

        
        margin: 0 auto;
    }
    .feed {
        width: 50%;
        padding: 10px 50px;

    }
}

#logindiv
{
    top:350% !important;
}

.mic-btn {
    background-color: #FDF7C3;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    margin-right: 5px;
    border: 1px solid black;
    transition: 1s;
}

    .mic-btn:hover {
        background-color: #FFDEB4;
        transition: 1s;
    }


 .mic-btn .icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-image: url('https://cdn-icons-png.flaticon.com/512/3800/3800770.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .mic-btn .iconrecording {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-image: url('https://cdn.pixabay.com/photo/2018/05/15/20/47/microphone-3404243_960_720.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

.stop-record-btn {
    background-color: #FC2947;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border: 1px solid black;
    transition: 1s;
}

    .stop-record-btn:hover {
        background-color: #E21818;
        transition:1s;
    }

    .stop-record-btn .iconstop {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 30px;
        height: 30px;
        background-image: url('https://static.thenounproject.com/png/3751111-200.png');
        background-repeat: no-repeat;
        background-size: contain;
    }





.form {
    position: absolute;
    z-index: 1;
    top:35%;
    left:40%;
    background: #FFFFFF;
    max-width: 400px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

    .form input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
#loginformdiv{
    top:0;
    left:0;
}
#registerformdiv {
    top: 0;
    left: 0;
    position: fixed;
    padding:15px 50px 30px;
    
}
.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #017BFE;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    border-radius:10px;
}

        .form button:hover, .form button:active, .form button:focus {
            background: #0082AA;
        }

    .form .message {
        margin: 15px 0 0;
        color: #b3b3b3;
        background-color:#FC2947;
        font-size: 12px;
        border-radius:10px;
    }
        .form .message:hover {
            
            background-color: #CF0A0A;
        }

        .form .message a {
            color: #017BFE;
            text-decoration: none;
        }

.form .carpi {
    position: absolute;
    top: -15px;
    right: -15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f00;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    display: flex;
    justify-content: center;
}

.carpi i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}


.container {
    position: relative;
    z-index: 1;
    max-width: 300px;
    margin: 0 auto;
}

    .container:before, .container:after {
        content: "";
        display: block;
        clear: both;
    }

    .container .info {
        margin: 50px auto;
        text-align: center;
    }

        .container .info h1 {
            margin: 0 0 15px;
            padding: 0;
            font-size: 36px;
            font-weight: 300;
            color: #1a1a1a;
        }

        .container .info span {
            color: #4d4d4d;
            font-size: 12px;
        }

            .container .info span a {
                color: #000000;
                text-decoration: none;
            }

            .container .info span .fa {
                color: #EF3B3A;
            }



